@import '~node_modules/modern-normalize/modern-normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Poppins&family=Roboto&display=swap');

html {
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: 'Manrope', sans-serif;
  // padding: 0 16px;
  background-color: var(--light-bgc-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}