:root {
  --white-text-color: #ffffff;
  --blck-text-color: #111321;
  --blue-text-color: #4440f6;
  --grey-text-color: #a8a8a8;
  --grey-arrow-color: #a2a2a2;

  --light-bgc-color: #f4f4f4;
  --dark-bgc-color: #2d2d2d;

  --section-bgc-color: #01383a;
  --footer-bgc-color: #001414;

  --text-btn-color: #4440f6;
  --sec-text-btn-color: #ffffff;

  --btn-color: #ffffff;
  --active-btn-color: #4440f6;

  --mode-accent-color: #4b48db;
  --mode-color: #5f6775;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
