:root {
    --white-text-color: #FFFFFF;
    --blck-text-color: #111321;
    --blue-text-color: #4440F6;
    --grey-text-color: #A8A8A8;


    --light-bgc-color: #f4f4f4;
    --dark-bgc-color: #2d2d2d;

    --section-bgc-color: #01383A;
    --footer-bgc-color: #001414;


    --text-btn-color: #4440F6;
    --sec-text-btn-color: #FFFFFF;

    --btn-color: #FFFFFF;
    --active-btn-color: #4440F6;

}