.categories-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 28px;
  padding-bottom: 48px;
}

.mainbtn {
  padding: 8px 21px;
  background-color: #fff;
  border: 1px solid #4440f7;
  border-radius: 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #4b48db;

  @include tablet {
    padding: 7.5px 24.5px;
  }
}
.final-menu {
  display: flex;
  gap: 14px;
}

// .dropdown {
//   display: block;
// }

.dropdownbtn {
  padding: 8px 21px;
  background-color: var(--white-text-color);
  border: 1px solid var(--blue-text-color);
  border-radius: 20px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #4b48db;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.dropdownbtn::after {
  content: '';
  display: block;
  width: 14px;
  height: 8px;
  background-image: url(/src/images/icon-arrow-down.svg);
  background-size: cover;
  margin-left: 10px;
}

.dropdownbtn:hover::after {
  background-image: url(/src/images/icon-arrow-down-white.svg);
}

.mainbtn:hover,
.mainbtn:focus,
.dropdownbtn:hover {
  background-color: var(--blue-text-color);
  border: 1px solid #4b48db;
  color: var(--white-text-color);
}

.mainbtn {
  padding: 8px 21px;
  background-color: var(--white-text-color);
  border: 1px solid var(--blue-text-color);
  border-radius: 20px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #4b48db;
}

.categories-list__btn {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.01em;
  background: #f8f8f8;
  padding: 0 24px;
  margin: 0;
  color: var(--blue-text-color);
}

.categories-list__btn:first-of-type {
  padding-top: 14px;
}
.categories-list__btn:last-of-type {
  padding-bottom: 14px;
}

.categories-list__btn:hover,
.categories-list__btn:focus {
  text-decoration-line: underline;
}

.dropdown-content {
  width: 148px;
  max-height: 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #f8f8f8;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.show {
  display: flex;
  max-height: 380px;
  overflow: auto;
}

.active {
  background-color: var(--blue-text-color);
  border: 1px solid #4b48db;
  color: var(--white-text-color);
}

.active:hover::after,
.active:focus::after {
  background-image: url(/src/images/icon-arrow-up.svg);
}

.active::after {
  content: '';
  display: block;
  width: 14px;
  height: 8px;
  background-image: url(/src/images/icon-arrow-up.svg);
  background-size: cover;
  margin-left: 10px;
}

.wrapper {
  background-color: tomato;
}


//-----------------------------style card Error--------------------------------//
.container-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
  @include tablet {
    margin-top: 88px;
  }
  @include desktop {
    margin-top: 121px;
  }
}
.error-func {
  font-weight: 700;
  width: 276px;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--blck-text-color);

  @include tablet {
    font-size: 40px;
    line-height: 1.37;
    width: 548px;
  }
  @include desktop {
    font-size: 40px;
    line-height: 1.14;
  }
}
