.weather-container {
    background-color: #4440F7;
    width: 288px;
    padding-bottom: 32px;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        border-radius: 4px;
    
        color: #FFFFFF;
};

.additional-weather-info {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.weather-main{
    display: flex;
    justify-content: center;
padding-top: 32px;
}

.weather-temp{
    display: flex;
    align-items: center;

    margin-right: 11px;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 1.16;

        border-right-style: ridge;
        
        border-right-width: 0px 63px;

        

}

.weather-temp::after {
    display: inline-block;

    content: '°';
    margin-right: 2px;
}

.weather-status {
    margin-bottom: 5px;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.16;
}

.weather-city {

    display: flex;
    align-items: center;
    justify-content: center;


    background: rgba(254, 254, 255, 0.3);
        border-radius: 10px;
        width: 121px;
        height: 34px;

font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
};

.weather-city::before{
    content: '';
    background-image: url("https://cdn-icons-png.flaticon.com/512/599/599502.png");
    background-size: contain;
    display: inline-block;
    width: 18px;
        height: 18px;
        margin-right: 4px;

};

.weather-icon{
    margin: 40px 80px;

}

.weather-date{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        margin: 0px 66px;
}

.more-weather-btn{

    width: 151px;
        height: 34px;

        font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.18;
        
            color: #FFFFFF;
    
        background: rgba(254, 254, 255, 0.3);
        border-radius: 10px;
}

.weather-for-week{

    display: flex;
    justify-content: center;

    margin-top: 18px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
}

.week-weather{
    display: flex;

    // font-size: 10px;
    padding: 0px 10px;

}

.weather-per-day{
    display: flex;
    flex-direction: column;
}

.more-weather-is-hidden {
    display: none;
}

