<div class="toggle-wrapper">
    <div class="toggle-ligth">Light</div>
    <div class="toggle-sun">
      <svg class="toggle-icon sun">
        <use href="./images/sprite.svg#icon-sun"></use>
      </svg>
    </div>
    <div class="switch-wrap">
      <div class="toggle">
        <input type="checkbox" id="checkbox" />
        <label class="toggle-item" for="checkbox"></label>
      </div>
    </div>
    <div class="toogle-moon">
      <svg class="toggle-icon moon">
        <use href="./images/sprite.svg#icon-moon"></use>
      </svg>
    </div>
    <div class="toggle-dark">Dark</div>
  </div>