.input-date {
    position: relative;
    width: 151px;
    height: 31px;

    margin-right: 16px;
    margin-left: auto;

    @include desktop {
        margin-right: 52px;
    }
}

.flatpickr {
    width: 151px;
    height: 31px;

    border: 1px solid var(--blck-text-color);
    border-radius: 20px;

    font-size: 12px;
    color: rgba(17, 19, 33, 0.4);
    text-align: center;

    &.active {
            background-color: var(--blue-text-color);
            border-color: transparent;
            color: var(--white-text-color);
        }
    outline: none;

    &::placeholder {
        padding-left: 10px;
    }
}

.placeholder-white::placeholder {
    color: var(--white-text-color);
}

.icon-date {
    position: absolute;
    fill: var(--blue-text-color);
    left: 12px;
    top: 6px;
}

.icon-arrow-down {
    position: absolute;
    fill: var(--grey-arrow-color);
    top: 11px;
    right: 11px;
}

.icon-arrow-up {
    position: absolute;
    fill: var(--white-text-color);
    top: 11px;
    right: 11px;
}

.hide {
    display: none;
}

.icon-date,
.icon-arrow-down,
.icon-arrow-up {
    pointer-events: none;
}

.icon-active {
    fill: var(--white-text-color);
}

// .calendar-open {
//     display: inline-block;
//     opacity: 1;
//     z-index: 99999;
//     max-height: 640px;
//     visibility: visible;
// }

.calendar-wrapper {
    position: absolute;
    right: -52px;
    width: 100vw;
    height: 350px;
    overflow: hidden;

}

.flatpickr-calendar {
    right: 16px !important;
    top: 31px !important; 

    transform: translate(0, -120%) !important;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) !important;

    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
    border-radius: 20px !important;

    @include desktop {
            right: 52px !important; 
        }
}

.flatpickr-calendar.animate.open {
    margin-top: -31px !important;
    animation: none !important;
    transform: translate(0, 0) !important;
    box-shadow: 0px 10px 60px 0px #0000001A !important;
}

.flatpickr-months {
    padding-top: 27px !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    position: initial !important;
}