.header {
  padding: 28px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    // gap: 48px;
    align-items: baseline;
  }
  @include desktop {
    // gap: 102px;
  }
}

.logo {
  margin-left: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: var(--blck-text-color);
  transition: color var(--duration) var(--timing-function);
  @include tablet {
    font-size: 32px;
  }
  @include desktop {
    font-size: 42px;
  }
  &:hover,
  &:focus {
    color: var(--active-btn-color);
  }
}

.nav__list {
  display: none;
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
  }
  @include desktop {
    gap: 69px;
  }
}

.current {
  border-bottom: 1px solid #4440f7;
}
.nav__link {
  font-weight: 700;
  line-height: 1.4;
  color: var(--blck-text-color);
  transition: color var(--duration) var(--timing-function);
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }
  &:hover,
  &:focus {
    color: var(--active-btn-color);
  }
}
.form {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.form__input {
  border: 1px solid var(--blck-text-color);
  border-radius: 20px;
  background-color: transparent;
  padding: 7px 0 6px 48px;
  outline: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  transition: border var(--duration) var(--timing-function);
  @include tablet {
    width: 213px;
  }
  @include desktop {
    width: 288px;
  }
  &::placeholder {
    opacity: 0.4;
  }
  &:hover,
  &:focus-within {
    border: 1px solid var(--active-btn-color);
  }
}

.form__btn {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 12px;
}
.form__icon {
  transition: fill var(--duration) var(--timing-function);
  .form:hover & {
    fill: var(--active-btn-color);
  }
  .form:focus-within & {
    fill: var(--active-btn-color);
  }
}

.menu__btn {
  transition: fill var(--duration) var(--timing-function);
  &:hover,
  &focus {
    fill: var(--active-btn-color);
  }
  @include tablet {
    display: none;
  }
}
.mobile__wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-right: 16px;
}
.menu__close-icon {
  transition: fill var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--active-btn-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form__input {
    transform: translateX(101%);
    transition: transform var(--duration) var(--timing-function);
  }
  .form__input:focus-within {
    transform: translateX(0);
  }
  .form__btn {
    transform: translateX(170px);
    transition: transform var(--duration) var(--timing-function);
  }
  .shown {
    transform: translateX(0);
  }
}
