<div class="toggle-wrapper">
    <div class="toggle-ligth">Light</div>
  
    <div class="toggle-sun">
      <svg class="toggle-icon sun" width="21" height="21">
        <use href="./images/sprite.svg#icon-sun"></use>
      </svg>
    </div>
  
    <div class="switch-wrap">
      <input class="toggle-input" type="checkbox" id="checkbox" />
      <label class="toggle-item" for="checkbox"></label>
    </div>
  
    <div class="toggle-moon">
      <svg class="toggle-icon moon" width="21" height="21">
        <use href="./images/sprite.svg#icon-moon"></use>
      </svg>
    </div>
    
    <div class="toggle-dark">Dark</div>
  </div>