<div class="container-calendar">
    <p class="label-date">Search date news</p>
    <div class="input-date">

        <input type="text" id="date-picker" class="flatpickr" placeholder="Виберіть дату...">
        <div class="calendar-wrapper"></div>
    
        <svg class="icon-date" width="19" height="19">
            <use href="./images/sprite.svg#icon-date"></use>
        </svg>
        <svg class="icon-arrow-down" width="9" height="9.14">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
        </svg>

        <svg class="icon-arrow-up hide" width="9" height="9.14">
            <use href="./images/sprite.svg#icon-arrow-up"></use>
        </svg>

        <button type="button" class="calendar-btn-cross visually-hidden"></button>
    </div> 
</div>
