<section>
    <div class="container main">
        <!-- Погода -->
        <div class="weather-container">
            <div class="main-weather-info"></div>
            <div class="weather-for-week">
                <div class="week-weather"></div>
                <button type="button" class="close-more-weather more-weather-is-hidden ">
                    <svg class="more-weather-close-btn">
                        <use href="/src/images/sprite.svg#icon-close"></use>
                    </svg>
                </button>
                <button type="button" class="more-weather-btn more-weather-is-hidden">weather for week</button>
            </div>
        </div>

            <!-- Картки з новинами -->
        <div class="news-list"></div>

        <!-- Пагінація -->
        <div class="pagination-btn__container">
            <button class="pagination-btn__prew"><svg class="prew-icon" width="10" height="14">
                <use href="/src/images//sprite.svg#icon-arrow-down"></use>
            </svg>Prew
                
            </button>
                <ul class="pagination-list"></ul>
            <div class="pagination"></div>
                <button class="pagination-btn__next">Next
                    <svg class="next-icon" width="10" height="14">
                        <use href="/src/images/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>


