<div class="weather-container">

    <div class="weather-for-week">
        <div class="week-weather"></div>
        <button type="button" class="close-more-weather more-weather-is-hidden ">
            <svg class="more-weather-close-btn">
                <use href="/src/images/sprite.svg#icon-arrow-down"></use>
            </svg></button>
        <button type="button" class="more-weather-btn">weather for week </button>
    </div>
</div>

<div class="news-list">

    <!-- Картки новин -->
</div>



