<header class="container header">
  <a href="./index.html" class="logo">News</a>
  <nav>
    <ul class="nav__list">
      <li>
        <a href="./index.html" data-active="home" class="nav__link">Home</a>
      </li>
      <li>
        <a href="./favorite.html" data-active="favorite" class="nav__link"
          >Favorite</a
        >
      </li>
      <li>
        <a href="./read.html" data-active="read" class="nav__link">Read</a>
      </li>
    </ul>
  </nav>
  <div class="mobile__wrapper">
    <form class="form" id="search-form">
      <input
        class="form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search"
      />
      <button type="submit" class="form__btn">
        <svg width="20" height="19" class="form__icon">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <span class="menu__btn">
      <svg width="24" height="24" class="burger__icon">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </span>
    <div class="toggle-wrapper tablet">
      <div class="toggle-ligth">Light</div>

      <div class="toggle-sun">
        <svg class="toggle-icon sun" width="21" height="21">
          <use href="./images/sprite.svg#icon-sun"></use>
        </svg>
      </div>

      <div class="switch-wrap">
        <input class="toggle-input" type="checkbox" id="checkbox" />
        <label class="toggle-item" for="checkbox"></label>
      </div>

      <div class="toggle-moon">
        <svg class="toggle-icon moon" width="21" height="21">
          <use href="./images/sprite.svg#icon-moon"></use>
        </svg>
      </div>

      <div class="toggle-dark">Dark</div>
    </div>
  </div>

  <div class="menu is-hidden">
    <div class="menu__container">
      <div class="menu__wrapper">
        <a href="./index.html" class="logo">News</a>
        <svg class="menu__close-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </div>
      <nav>
        <ul class="menu__list">
          <li>
            <a href="./index.html" data-active="home" class="menu__link">
              <div class="menu__thumb">
                <span class="menu__icon">
                  <svg width="18" height="18">
                    <use href="./images/sprite.svg#icon-home"></use>
                  </svg>
                </span>
                <span>Home</span>
              </div>
              <svg width="24" height="24" class="menu__arrow">
                <use href="./images/sprite.svg#icon-arrow-up"></use></svg
            ></a>
          </li>
          <li>
            <a href="./favorite.html" data-active="favorite" class="menu__link">
              <div class="menu__thumb">
                <span class="menu__icon">
                  <svg width="18" height="18">
                    <use href="./images/sprite.svg#icon-favorite"></use>
                  </svg>
                </span>
                <span>Favorite</span>
              </div>
              <svg width="24" height="24" class="menu__arrow">
                <use href="./images/sprite.svg#icon-arrow-up"></use></svg
            ></a>
          </li>
          <li>
            <a href="./read.html" data-active="read" class="menu__link">
              <div class="menu__thumb">
                <span class="menu__icon">
                  <svg width="18" height="18">
                    <use href="./images/sprite.svg#icon-read"></use>
                  </svg>
                </span>
                <span>Read</span>
              </div>
              <svg width="24" height="24" class="menu__arrow">
                <use href="./images/sprite.svg#icon-arrow-up"></use></svg
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="switcher__thumb">
      <div class="toggle-wrapper">
        <div class="toggle-ligth">Light</div>

        <div class="toggle-sun">
          <svg class="toggle-icon sun" width="21" height="21">
            <use href="./images/sprite.svg#icon-sun"></use>
          </svg>
        </div>

        <div class="switch-wrap">
          <input class="toggle-input" type="checkbox" id="checkbox-toggle" />
          <label class="toggle-item" for="checkbox-toggle"></label>
        </div>

        <div class="toggle-moon">
          <svg class="toggle-icon moon" width="21" height="21">
            <use href="./images/sprite.svg#icon-moon"></use>
          </svg>
        </div>

        <div class="toggle-dark">Dark</div>
      </div>
    </div>
  </div>
</header>
