.news-card {
    width: 288px;
    margin-bottom: 28px;
    // max-height: 675px;
    // height: 469px;

    @include tablet {
        width: 353px;
        margin-bottom: 0;
        // height: 675px;
    }

    @include desktop {
        width: 395px;
        // height: 675px;
    }

    position: relative;
}

// .info {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

// .info-container-content {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
// }

.info-item {
    color: var(--blck-text-color);
    max-width: 395px;
    height: 132px;

    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    @include tablet {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        height: 220px;
    }

    @include desktop {
        height: 176px;
    }

    margin-top: 20px;
}

.describe {
    color: var(--blck-text-color);
    max-width: 353px;
    height: 76px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    @include tablet {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        height: 88px;
    }

    margin-top: 20px;
}

.lower-content {
    margin-top: 20px;
}

.news-date {
    color: var(--grey-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    @include tablet {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}

.news-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #4440F7;
}

.isread {
    color: #00DD73;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    @include tablet {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}

.favorite-btn {
    background-color: var(--white-text-color);

    border-radius: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    padding: 6px 12px;
    display: flex;
    position: absolute;
    bottom: 12px;
    right: 8px;
    position: absolute;

    @include tablet {
        right: 12px;
    }
}

.btn-text {
    color: var(--blck-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.news-img {
    width: 288px;
    border-radius: 4px;

    @include tablet {
        width: 353px;
    }

    @include desktop {
        width: 395px;
    }
}